/* STRUCTURE */
/* Scorecard Table */
$headerHeight: 60px;        // Height of table header
$sidebarWidth: 260px;       // Width of row label sidebar
$cellWidth: 100px;          // Global width of all table cells
$cellWidthX2: 200px;          // Global width of all table cells
$cellHeight: 30px;          // Global height of all table cells

$heatmapHue: 195;
