<h1>List</h1>

<span id='example-list-fs-ul'></span>
<div>
	<button id='submit'>Submit (console.log)</button>
	<button id='restore'>Restore to Default</button>
	<button id='enable_disable'>Disable/Enable Form</button>
	<span id='valid_indicator'></span>
	
	<div id='editor_holder'></div>
</div>

<div ng-repeat="object in schema.objects">
	<h3>{{object.title}}</h3>
	<hr>
	<div ng-repeat="item in db[object.title]">
		{{item}}
		<div ng-repeat="field in object.fields">
			<input name="{{object.title}}-{{field.name}}" placeholder="{{field.name}}" value="{{item[field.name]}}">
		</div>
	</div>
	<button ng-click="addObject(object.title)">Add {{object.title}}</button>
</div>

<button ng-click="saveDB()">Save</button>
